@font-face {
  font-family: "klavika";
  src: url("/custom\ font/klavika-medium.otf");
  src: url("custom\ font/kalvika-medium-italic.otf");
}
body {
  font-family: "klavika", sans-serif;
  font-weight: bold;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  margin: 0;
  padding: 0;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
}

/*--------------header related style---------------*/
.header {
  background: rgba(244, 244, 244, 1);
  width: 100%;
}

/*---------------nav related styles---------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
  color: rgba(244, 244, 244, 1);
  padding: 5px;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 40px;
  font-size: 17px;
  font-weight: 700;
  margin-top: 15px;
}

nav a {
  text-decoration: none;
  color: rgba(28, 77, 120, 1);
}

/*-----------Banner Related Styles-----------*/
.banner {
  background-image: url("../images/img-12.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  margin-top: -20px;
}
