@font-face {
  font-family: "klavika";
  src: url("/custom\ font/klavika-medium.otf");
  src: url("custom\ font/kalvika-medium-italic.otf");
}
body {
  font-family: "klavika", sans-serif;
  font-weight: bold;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  margin: 0;
  padding: 0;
}

/*-----------nav related styles------------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 70px 2px 70px;
  color: rgba(244, 244, 244, 1);
}

nav .navbar {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 40px;
  font-size: 17px;
  font-weight: 700;
  margin-top: 8px;
}

nav a {
  text-decoration: none;
  color: rgba(28, 77, 120, 1);
}

header #toggler {
  display: none;
}

header .fa-bars {
  font-size: 2rem;
  color: black;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  display: none;
}

/*--------------Banner Style------------*/
.banner {
  background-image: url("../images/img-39.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  display: flex;
  justify-content: space-between;
}

.logo-2 {
  width: 200px;
  height: 80px;
  top: 300px;
  left: 139px;
  gap: 0px;
  opacity: 0px;
}

.icon-1 {
  width: 200px;
  height: 40px;
  margin-top: 20px;
}

.m-1 {
  margin: 100px 0px 0px 120px;
}

.m-1 h3 {
  font-size: 30px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.time-btn {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  background: rgba(38, 90, 167, 1);
  border: rgba(38, 90, 167, 1);
  color: rgba(244, 244, 244, 1);
  font-size: 12px;
  margin-top: 10px;
}

.banner-half-width {
  padding: 70px 80px 0px 0px;
}

.banner-half-width h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: left;
  color: rgba(244, 244, 244, 1);
}

.banner-half-width p {
  width: 281px;
  font-size: 11px;
  font-weight: 700;
  line-height: 17.2px;
  color: rgba(244, 244, 244, 1);
  margin-top: -10px;
}

.banner-half-width h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02477119117975235px;
  color: rgba(15, 105, 195, 1);
  margin-top: -5px;
}

.banner-half-width .group-1 {
  width: 300.3px;
  margin-top: -20px;
}

.banner-half-width .img-1 {
  width: 326px;
  height: 182px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.banner-half-width h5 {
  font-size: 14.83px;
  font-weight: 500;
  line-height: 20.19px;
  color: rgba(244, 244, 244, 1);
}

.flex-3 {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: rgba(246, 249, 252, 1);
  margin-top: 30px;
}

.flex-3 img {
  margin-top: 7px;
  margin-left: 8px;
}

.flex-3 a {
  margin-left: 7px;
  text-decoration: none;
}

.map-img {
  width: 360px;
  height: 270px;
}
/*------------Footer Styles-----------*/
.flex-1 {
  display: flex;
  align-items: center;
  padding: 20px 0px 20px 135px;
}

.flex-1 img {
  width: 30px;
  height: 20px;
}

.flex-1 a {
  text-decoration: none;
  margin-left: 10px;
  color: rgba(45, 141, 213, 1);
}

.flex-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 15px;
}

.flex-4 .fa-brands {
  margin-left: 20px;
  color: rgba(38, 90, 167, 1);
}

.flex-4 .font-awesome {
  margin-right: 30px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background: rgba(3, 46, 97, 1);
  padding: 0px 30px 20px 40px;
}

.footer-bottom h6 {
  font-size: 10px;
  font-weight: 5;
  color: rgba(255, 255, 255, 1);
}

.footer-bottom h6 a {
  color: rgba(6, 172, 246, 1);
}

.footer-a {
  margin-top: -15px;
}

.footer-a a {
  margin-right: 10px;
  font-size: 10px;
  font-weight: 300;
  line-height: 16.8px;
  text-align: left;
  color: rgba(6, 172, 246, 1);
}

.secondlast-class img {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  margin-top: 10px;
}

.secondlast-class {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background: rgba(30, 74, 126, 1);
  margin-right: 10px;
}

.secondlast-class h6 {
  margin-top: 10px;
}

.flex-2 {
  display: flex;
  margin-right: 50px;
  margin-top: 30px;
}

.last-class img {
  width: 17px;
  height: 15px;
  margin-top: 6px;
  margin-right: 4px;
}

.last-class {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background: rgba(30, 74, 126, 1);
}

.last-class h6 {
  font-size: 7px;
  font-weight: 400;
  line-height: 8.07px;
  margin-top: 5px;
}
