@font-face {
  font-family: "klavika";
  src: url("/custom\ font/klavika-medium.otf");
  src: url("custom\ font/kalvika-medium-italic.otf");
}
body {
  font-family: "klavika", sans-serif;
  font-weight: bold;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  margin: 0;
  padding: 0;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
}

/*---------------nav related styles---------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
  color: rgba(244, 244, 244, 1);
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 40px;
  font-size: 17px;
  font-weight: 700;
  margin-top: 15px;
}

nav a {
  text-decoration: none;
  color: rgba(28, 77, 120, 1);
}

/*---------------Slideshow Style--------------------*/
.all {
  position: relative;
}
.slide-1 {
  background: url("../images/b-4.png");
}
.slide-2 {
  background: url("../images/b-5.png");
}

.slide {
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}

.arrow {
  position: absolute;
  top: 90%;
  cursor: pointer;
  z-index: 100;
}
.arrow img {
  width: 29px;
}
.l {
  right: 0;
  margin-right: 52px;
}
.r {
  right: 0;
  margin-right: 20px;
}

.half-width {
  width: 50%;
  padding: 20px 20px 20px 20px;
  line-height: 20px;
  margin: 20px 0px 0px 100px;
}

.b-1 p {
  font-size: 12px;
  font-weight: 300;
  width: 432px;
  line-height: 18px;
  color: rgba(86, 95, 126, 1);
  margin-top: -5px;
}

.b-1 h1 {
  font-size: 40px;
  font-weight: 300;
  line-height: 55px;
  color: rgba(135, 149, 201, 1);
}

.b-1 h6 {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.9499199986457825px;
  color: rgba(135, 149, 201, 1);
  margin: -5px 0px 0px 300px;
}

.span-1 {
  font-size: 90px;
  font-weight: 500;
  color: rgba(135, 149, 201, 0.5);
}
.b-2 {
  margin-top: 100px;
}
.b-2 h1 {
  font-size: 90px;
  font-weight: 500;
  color: rgba(29, 60, 81, 1);
  margin-top: -10px;
}

.b-2 h4 {
  font-size: 35px;
  font-weight: 300;
  color: rgba(47, 84, 113, 1);
}
.b-2 button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background: rgba(206, 240, 255, 1);
  color: rgba(0, 29, 55, 1);
}

/*---------------Section-1 Style------------*/
.section-1 {
  background-image: url("../images/img-9.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
}

.details-1 {
  padding: 80px 0px 100px 100px;
}
.details-1 h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -1.5px;
  color: rgba(15, 33, 55, 1);
  margin-top: 0;
}

.details-1 h5 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -1.5px;
  color: rgba(15, 33, 55, 1);
  margin-top: -30px;
  margin-left: 10px;
}

.details-1 p {
  width: 510px;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  margin-top: -20px;
}

/*-------------Section-2 Start-------------*/
.section-2 {
  background-image: url("../images/img-10.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
}

.details-2 {
  padding: 80px 0px 100px 100px;
}
.details-2 h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -1.5px;
  color: rgba(15, 33, 55, 1);
  margin-top: 0;
}

.details-2 h5 {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: -1.5px;
  color: rgba(15, 33, 55, 1);
  margin-top: -30px;
  margin-left: 10px;
}

.details-2 p {
  width: 510px;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  margin-top: -20px;
}

/*-------------Section-3 Styles--------------*/

.section-3 {
  background-image: url("../images/img-11.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
}

.details-3 {
  padding: 50px 0px 100px 100px;
}

.details-3 h1 {
  font-size: 25px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -1px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-top: 0;
}

.details-3 p {
  width: 580px;
  font-size: 12px;
  font-weight: 50;
  line-height: 17px;
  color: rgba(255, 255, 255, 1);
  margin-top: -10px;
}

/*--------------Section-4 Styles-------------*/
.section-4 {
  height: 320px;
}

.section-4 h1 {
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.section-4 h5 {
  font-size: 25px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -1.5px;
  color: rgba(15, 33, 55, 1);
  margin-left: 140px;
}

.span-2 {
  font-size: 90px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

/*---------------Section-5 Styles--------------*/
.section-5 {
  display: flex;
  background: rgba(3, 16, 34, 1);
  padding: 70px;
  width: 100%;
}

.section-5 h1 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -1.5px;
  color: rgba(255, 255, 255, 1);
}

.section-5 h6 {
  font-size: 13px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.4px;
}
.section-5 img {
  width: 650px;
  height: 350.06px;
  color: #01507c;
}

.side-img-2 img {
  margin-top: 130px;
}
.country img {
  width: 27px;
  height: 25.66px;
}
.country {
  color: rgba(255, 255, 255, 1);
  font-size: 13px;
  display: flex;
  font-weight: 300;
}

.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  align-items: center;
  margin-top: 50px;
}

.grid img {
  margin-right: 15px;
  margin-bottom: 15px;
}
.bd {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background: rgba(1, 43, 100, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.bd-flag {
  margin-top: 15px;
  margin-left: 15px;
}

.grid .i-27 {
  width: 15px;
  height: 15px;
  margin-top: 17px;
  margin-left: 5px;
}
.name {
  margin-left: -10px;
}

/*-----------Footer Styles------------*/
.flex-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  height: 120px;
  margin-top: -10px;
  background: rgba(244, 244, 244, 1);
}

.footer-logo img {
  width: 200px;
  height: 100px;
}

.flex-2 {
  display: flex;
}

.flex-2 h6 {
  font-size: 12px;
  font-weight: 350;
  line-height: 15px;
  color: rgba(55, 69, 80, 1);
  margin-top: -10px;
}

.icon-28,
.icon-30 {
  background: rgba(26, 55, 99, 1);
  padding: 6px;
  margin-right: 15px;
  width: 8px;
  height: 22px;
  margin-top: -15px;
}

.icon-29 {
  background: rgba(52, 139, 203, 1);
  padding: 6px;
  margin-right: 15px;
  width: 8px;
  height: 22px;
  margin-top: -15px;
}

footer h5 {
  font-size: 15px;
  font-weight: 700;
  color: rgba(55, 69, 80, 1);
}

.group-1 {
  margin-bottom: 15px;
}

.footer-btn {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  background: rgba(38, 90, 167, 1);
  border: rgba(38, 90, 167, 1);
  color: rgba(244, 244, 244, 1);
  font-size: 12px;
}

.group-2 {
  width: 300px;
  margin-bottom: 15px;
}

.details h4 {
  font-size: 13px;
  font-weight: 500;
  color: rgba(55, 69, 80, 1);
  margin-top: -2px;
}

.details .fa-brands {
  margin-left: 20px;
  color: rgba(38, 90, 167, 1);
}

.font-awesome {
  margin-left: -20px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background: rgba(3, 46, 97, 1);
  padding: 0px 30px 20px 40px;
}

.footer-bottom h6 {
  font-size: 10px;
  font-weight: 5;
  color: rgba(255, 255, 255, 1);
}

.footer-bottom h6 a {
  color: rgba(6, 172, 246, 1);
}

.footer-a {
  margin-top: -15px;
}

.footer-a a {
  margin-right: 10px;
  font-size: 10px;
  font-weight: 300;
  line-height: 16.8px;
  text-align: left;
  color: rgba(6, 172, 246, 1);
}

.secondlast-class img {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  margin-top: 10px;
}

.secondlast-class {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background: rgba(30, 74, 126, 1);
  margin-right: 10px;
}

.secondlast-class h6 {
  margin-top: 10px;
}

.flex-3 {
  display: flex;
  margin-right: 50px;
  margin-top: 30px;
}

.last-class img {
  width: 17px;
  height: 15px;
  margin-top: 6px;
  margin-right: 4px;
}

.last-class {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background: rgba(30, 74, 126, 1);
}

.last-class h6 {
  font-size: 7px;
  font-weight: 400;
  line-height: 8.07px;
  margin-top: 5px;
}
