@font-face {
  font-family: "klavika";
  src: url("custom\ font/kalvika-medium-italic.otf");
  src: url("custom\ font/klavika-medium.otf");
}
body {
  font-family: "klavika";
  font-weight: bold;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  margin: 0;
  padding: 0;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
}

/*---------------nav related styles---------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
  color: rgba(244, 244, 244, 1);
  padding: 5px;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 40px;
  font-size: 17px;
  font-weight: 700;
  margin-top: 15px;
}

.hamburger {
  display: none;
}

nav a {
  text-decoration: none;
  color: rgba(28, 77, 120, 1);
}
/*--------------header related style---------------*/

.header {
  background: rgba(244, 244, 244, 1);
  width: 100%;
}

/*---------------Slideshow Style--------------------*/
.all {
  position: relative;
}
.slide-1 {
  background: url("images/b-1.png");
}
.slide-2 {
  background: url("images/b-2.png");
}
.slide-3 {
  background: url("images/b-3.png");
}
.slide-4 {
  background: url("images/b-4.png");
}

.slide {
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}

.arrow {
  position: absolute;
  top: 90%;
  cursor: pointer;
  z-index: 100;
}
.arrow img {
  width: 29px;
}
.l {
  right: 0;
  margin-right: 52px;
}
.r {
  right: 0;
  margin-right: 20px;
}

.half-width {
  width: 50%;
  padding: 120px;
  line-height: 20px;
}

.banner-font-color {
  color: rgba(207, 228, 244, 1);
  display: flex;
}
.ml-2 {
  margin-left: 15px;
}

.ml-2 h4 {
  font-size: 27px;
  font-weight: 300;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
}

.ml-2 h6 {
  font-size: 8px;
  color: rgba(255, 255, 255, 1);
}

.ml-2 p {
  font-size: 25px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
}

.span-14 {
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
}

.banner-button {
  width: 110px;
  height: 35px;
  top: 300.53px;
  border-radius: 5px;
  border: rgba(206, 240, 200, 1);
  color: rgba(0, 29, 55, 1);
  background: rgba(206, 240, 200, 1);
  margin-top: 10px;
  font-weight: 500;
}

.logo {
  width: 110px;
  height: 70px;
}

.d-flex {
  margin: 50px;
  margin-left: 250px;
  max-width: 350px;
  max-height: 100px;
}

.p-2 {
  max-width: 300px;
  margin: -40px 0px 280px 300px;
}
.common-b-style {
  margin-top: 30px;
}
.common-b-style h1 {
  color: rgba(38, 46, 56, 1);
  font-size: 30px;
  font-weight: 700;
}

.common-b-style h5 {
  color: rgba(38, 46, 56, 1);
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  letter-spacing: -0.2px;
}

.p-3 {
  color: rgba(38, 46, 56, 1);
  font-size: 13px;
  line-height: 26.4px;
  margin-left: -15px;
  margin-top: -12px;
}

.common-btn-1 {
  background: rgba(38, 90, 167, 1);
  color: rgba(255, 255, 255, 1);
  margin-top: -15px;
}

.common-b-style .i-color {
  color: rgba(45, 141, 213, 1);
}
.b-2 h1 {
  font-size: 33px;
  font-weight: 700;
}
.b-2 .p-1 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 15px;
}

.b-2 h5 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
}

.b-4 h1 {
  font-size: 40px;
  font-weight: 300;
  line-height: 55px;
  color: rgba(135, 149, 201, 1);
}

.span-13 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.b-4 {
  margin-left: -30px;
}

.b-4 p {
  color: rgba(86, 95, 126, 1);
  line-height: 18px;
}

/*--------------section-1 related style--------------*/
.grid-1 {
  display: grid;
  width: 100%;
  background: rgba(255, 255, 255, 1);
}

.flex-7 {
  display: flex;
}

.grid-1 img {
  width: 405px;
  height: 568px;
  margin-top: -210px;
  margin-right: -42px;
}
.grid-1 h1 {
  font-size: 35px;
  font-weight: 700;
  margin: 60px 0 0 70px;
  color: rgba(15, 33, 55, 1);
}

.tab-details {
  padding: 30px;
  margin-left: 50px;
}
.tab {
  float: left;
  width: 30%;
  height: 400px;
  margin-top: 30px;
  position: relative;
}

.tab button {
  display: block;
  background: none;
  padding: 12px 8px;
  width: 341px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 15px;
  color: rgba(48, 70, 109, 1);
  margin-left: 30px;
}

.tab button.active {
  font-size: 23px;
  font-weight: 700;
  line-height: 22px;
  color: rgba(48, 70, 109, 1);
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  height: 300px;
}

.tabcontent ul {
  margin-top: -20px;
}
.tab .btn-1 {
  font-size: 23px;
  font-weight: 700;
  line-height: 22px;
  color: rgba(48, 70, 109, 1);
}

.span-8 {
  color: rgba(48, 70, 109, 1);
  font-size: 21px;
  font-weight: 700;
}
.circle {
  display: flex;
  justify-content: space-between;
}
.circle ul {
  margin-top: 40px;
}

.circle .third-two > ul > li > a {
  text-decoration: none;
  position: relative;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  line-height: 35px;
  font-weight: 500;
}

.circle > .third-two > ul > li > a:before {
  content: "";
  position: absolute;
  background: rgba(48, 70, 109, 1);
  width: 15px;
  height: 15px;
  margin-top: 15px;
  margin-left: -25px;
  border-radius: 150px;
}
.sales-btn {
  width: 120px;
  height: 30px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  background: rgba(38, 90, 167, 1);
  color: rgba(255, 255, 255, 1);
  margin-left: 5px;
}

.two-third {
  margin-top: 40px;
  margin-left: 30px;
}

.tab ::after {
  content: "";
  position: absolute;
  width: 4px;
  height: calc(110% - 60px);
  top: 0;
  margin-top: -30px;
  background: rgba(180, 180, 180, 1);
  right: 0;
  margin-right: 30px;
}

.tab {
  position: relative;
}

.tab ::before {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(98% - 70px);
  top: 0;
  margin-top: 25px;
  background: rgba(48, 70, 109, 1);
  left: 0;
  margin-left: 15px;
}

.flex-6 {
  display: flex;
  align-items: center;
}
.b-1 {
  position: relative;
  width: 5px;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(48, 70, 109, 1);
  border-radius: 50%;
  margin-left: -25px;
}

/*------Section-2 related style-----*/

.bi-2 {
  background: linear-gradient(180deg, #1e1e1e 0%, #01507c 100%);
  width: 1349px;
  height: 400px;
  color: white;
  padding: 30px;
  width: 100%;
}

.d-flex {
  margin: 50px;
  margin-left: 250px;
  max-width: 350px;
  max-height: 100px;
}

.bi-2 h3 {
  margin-bottom: -30px;
  margin-left: 20px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 24% 32% 22% 22%;
}

.fourth-one {
  margin-left: -3px;
  margin-bottom: 15px;
}

.pc-1 {
  padding: 25px;
  position: relative;
}

.line ::after {
  content: "";
  position: absolute;
  width: 4px;
  height: calc(60% - 30px);
  top: 0;
  border: 2px solid rgba(191, 191, 191, 1);
  right: 10px;
  margin-top: 90px;
}

.i-4 {
  margin-right: 10px;
  max-width: 25px;
  max-height: 25px;
}

.i-5 {
  margin-right: 10px;
  max-width: 30px;
  max-height: 30px;
  margin-bottom: 15px;
}
.i-7 {
  margin-right: 10px;
  max-width: 30px;
  max-height: 30px;
}

.pc-1 p {
  font-size: 10px;
  font-weight: 550;
  line-height: 18px;
}

.span {
  color: yellow;
  margin-right: 5px;
  font-size: 8px;
}

.mt {
  margin-top: -50px;
}

/*-------Section-3 Styles----------*/

.boat-2 {
  background-image: url("images/img-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  padding: 50px;
}

.boat-2 h2 {
  margin-left: 10px;
}

.common-w-color {
  color: rgba(255, 255, 255, 1);
}

.grid-3 {
  display: grid;
  grid-template-columns: 30% 35%;
  margin-left: 25px;
}

.common-icon-style {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.mr-1 {
  margin-left: 5px;
  margin-bottom: 15px;
}

.common-p-style {
  font-size: 10px;
  font-weight: 300;
  line-height: 19.2px;
  color: rgba(255, 255, 255, 1);
  margin-left: 5px;
}

.side-mr {
  margin-left: 100px;
}

.strate-line {
  position: relative;
}

.strate-line ::after {
  content: "";
  position: absolute;
  height: calc(95% - 30px);
  width: 1px;
  top: 0;
  right: -50px;
  margin-top: 50px;
  border: 1px solid rgba(255, 255, 255, 1);
}

/*---------Section-4 Styles=---------*/

.bg-2 {
  background: linear-gradient(
    149.36deg,
    #243b50 9.43%,
    #0573c3 104.37%,
    #007cd6 219.88%
  );
  height: 900px;
  margin: 80px 80px 80px 80px;
}

.logo-2 {
  width: 142.7px;
  height: 100.64px;
}
.grid-4 {
  display: grid;
  grid-template-columns: 60% 40%;
}
.i-6 img {
  width: 500px;
  height: 470px;
  padding: 40px;
  margin-bottom: 100px;
}

.mr-2 {
  margin-left: -200px;
  display: grid;
  grid-template-columns: 65% 35%;
  align-items: center;
  margin-top: 20px;
}

#mt-2 {
  margin-top: 50px;
}

.visit-button {
  width: 180px;
  height: 50px;
  background: rgba(211, 234, 255, 1);
  border-radius: 8px;
  border: rgba(211, 234, 255, 1);
  padding: 10px;
  color: rgba(38, 90, 167, 1);
  margin-left: 100px;
  margin-bottom: 70px;
}

.icon-14 {
  margin-left: 9px;
}

.span-2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 31.75px;
}

.mr-3 {
  margin-left: 40px;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.grid-5 h6 {
  margin-top: 20px;
  font-size: 13px;
}

.grid-5 > .p-1 {
  padding: 50px;
}

.center {
  margin-left: 22px;
}

.line-2 {
  position: relative;
}
.line-2::after {
  content: "";
  position: absolute;
  height: calc(55%);
  top: 0;
  border: 1px solid rgba(191, 191, 191, 1);
  right: -20px;
  margin-top: 30px;
}

#visit-p-1 {
  width: 600px;
  height: 100px;
  font-size: 12px;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 30px;
}

#visit-p {
  width: 600px;
  height: 100pxpx;
  font-size: 15px;
  line-height: 30px;
}

.services-2 li {
  font-size: 20px;
  line-height: 35px;
  color: rgba(255, 255, 255, 1);
}

.span-3 {
  width: 110px;
  height: 34px;
  opacity: 70%;
  line-height: 22.98px;
  color: rgba(255, 255, 255, 1);
}

.span-4 {
  color: rgba(255, 255, 255, 1);
}

.line-3 {
  position: relative;
}

.line-3::after {
  content: "";
  position: absolute;
  height: calc(90%);
  top: 0;
  border: 1px solid rgba(191, 191, 191, 1);
  right: -20px;
  margin-top: 10px;
}

.ml-3 {
  margin-left: 60px;
}

/*-----------Section-5 Styles----------*/

.section-5 {
  margin-top: -30px;
}

#get {
  margin-left: 80px;
  color: rgba(33, 64, 89, 1);
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px 40px 80px 80px;
}

.common-column-style {
  width: 280px;
  height: 250px;
  background: rgba(23, 82, 127, 1);
  padding: 40px;
  margin-top: 30px;
  line-height: 30px;
}
.common-btn {
  width: 110px;
  height: 33px;
  border-radius: 6px;
  background: rgba(206, 240, 255, 1);
  border: rgba(206, 240, 255, 1);
  margin-left: 110px;
}

.span-5 {
  color: rgba(0, 29, 55, 1);
  font-size: 14px;
  font-weight: 500;
  margin-right: 4px;
}

#mt-3 {
  margin-top: 30px;
}

#mt-4 {
  margin-top: 20px;
}

.subscribe-box {
  height: 330px;
  display: flex;
  justify-content: center;
  margin: 0px 150px 0px 150px;
  background: linear-gradient(
    90deg,
    #0b151e 0%,
    #206da7 84%,
    #206da7 84.01%,
    #2994e5 100%
  );
}

.user-info {
  margin-top: 35px;
}

.flex {
  display: flex;
  margin: 30px 0px 20px 0px;
  align-items: center;
}

.subscribe-title {
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.input-field-1 {
  width: 220px;
  height: 37px;
  border-radius: 5px;
  border: rgba(255, 255, 255, 1);
  padding: 10px;
  margin-right: 20px;
}

.input-field-2 {
  width: 250px;
  border-radius: 5px;
  border: rgba(255, 255, 255, 1);
  padding: 5px;
}

.input-field-3 {
  width: 300px;
  height: 35px;
  padding: 10px;
  border-radius: 5px;
  border: rgba(255, 255, 255, 1);
  margin-left: 110px;
}

.subscribe-btn {
  width: 200px;
  height: 35px;
  border-radius: 5px;
  margin: 20px 0px 0px 150px;
  background: rgba(38, 90, 167, 1);
  border: none;
}

.span-6 {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-right: 7px;
}

/*-----------Section-6 Styles-----------*/

.section-6 {
  width: 100%;
  height: 640px;
  display: grid;
  grid-template-columns: 35% auto;
  background: rgba(14, 23, 39, 1);
  margin-top: 60px;
}

.img-5 {
  width: 500px;
  height: 630px;
  top: 5805px;
  left: 124px;
  gap: 0px;
  opacity: 0px;
  padding: 20px 0px 0px 90px;
}

.ceo {
  margin: 200px;
}

.ceo h1 {
  font-weight: 300;
  line-height: 50.73px;
  color: rgba(194, 194, 194, 1);
  margin-bottom: 20px;
}

.ceo h5 {
  font-size: 22px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  margin-left: 270px;
}

.span-7 {
  font-family: Klavika;
  font-size: 100px;
  font-weight: 700;
  color: rgba(38, 90, 167, 1);
}
.span-9 {
  font-size: 12px;
  font-weight: 100;
  line-height: 5pxx;
}

.span-10 {
  margin-left: 55px;
}

.grid-7 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: -100px;
  margin-left: 30px;
}

.grid-7 img {
  width: 35px;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.span-11 {
  font-size: 35px;
  font-weight: 500;
  line-height: 67.2px;
  color: rgba(255, 255, 255, 1);
}

.grid-7-p {
  font-size: 15px;
  font-weight: 200;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}

.position {
  position: relative;
}
.line-4::after {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% - 20px);
  top: 0;
  border: 1px solid rgba(191, 191, 191, 1);
  right: 40px;
  margin-top: 20px;
}

/*------------Section-7 Styles---------*/

.section-7 {
  background-image: url("images/img-6.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 550px;
  padding: 70px 0px 0px 100px;
}

.grid-8 {
  display: grid;
  grid-template-columns: 30%;
}

.title-2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: rgba(255, 255, 255, 1);
}

.section-7-p {
  font-size: 10px;
  font-weight: 300;
  line-height: 16.94px;
  color: rgba(255, 255, 255, 1);
  margin-top: 15px;
}

.contact-btn {
  width: 140px;
  height: 35px;
  border-radius: 5px;
  background: rgba(1, 118, 211, 1);
  border: #0573c3;
  color: rgba(255, 255, 255, 1);
  padding: 5px;
  margin-top: 10px;
}

.span-12 {
  font-size: 14px;
  font-weight: 500;
}

.flex-2 {
  display: flex;
  width: 400px;
  height: 110px;
  margin-top: 40px;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  padding: 15px 40px;
  line-height: 20px;
  margin-top: -2px;
}

.top-color {
  width: 400px;
  height: 10.54px;
  background: rgba(1, 118, 211, 1);
  margin-top: 80px;
}

.icon-24 {
  width: 30px;
  height: 30px;
}

.icon-25 {
  width: 35px;
  height: 35px;
  margin-left: 15px;
}

.icon-26 {
  width: 50px;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 12px;
}

.flex-2 p {
  font-size: 10px;
  line-height: 12px;
}

.mr-4 {
  margin-right: 25px;
  margin-left: 10px;
}

.mr-4 p {
  font-weight: 800;
}

.mr-4 h3 {
  font-weight: 400;
  margin-top: -15px;
}

.mr-5 h3 {
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
  margin-top: -20px;
}
.patent h3 {
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
  margin-top: -20px;
}

/*----------Section-8 Styles----------*/

.section-8 {
  display: flex;
  background: rgba(3, 16, 34, 1);
  padding: 70px;
  width: 100%;
}

.section-8 h1 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -1.5px;
  color: rgba(255, 255, 255, 1);
}

.section-8 h6 {
  font-size: 13px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}
.section-8 img {
  width: 650px;
  height: 350.06px;
  color: #01507c;
}

.side-img-2 img {
  margin-top: 130px;
}
.country img {
  width: 27px;
  height: 25.66px;
}
.country {
  color: rgba(255, 255, 255, 1);
  font-size: 13px;
  display: flex;
  font-weight: 300;
}

.grid-9 {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  align-items: center;
  margin-top: 50px;
}

.grid-9 img {
  margin-right: 15px;
  margin-bottom: 15px;
}
.bd {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background: rgba(1, 43, 100, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.bd-flag {
  margin-top: 15px;
  margin-left: 15px;
}

.grid-9 .i-27 {
  width: 15px;
  height: 15px;
  margin-top: 17px;
  margin-left: 5px;
}
.name {
  margin-left: -10px;
}

/*----------Footer Styles--------*/

footer {
  width: 100%;
}

.flex-4 {
  display: flex;
  justify-content: space-around;
  align-self: center;
  padding: 50px;
  height: 220px;
  margin-top: -10px;
}

.footer-logo img {
  width: 200px;
  height: 100px;
}

.flex-3 {
  display: flex;
}

.flex-3 h6 {
  font-size: 12px;
  font-weight: 350;
  line-height: 15px;
  text-align: left;
  color: rgba(55, 69, 80, 1);
}

.icon-28,
.icon-30 {
  background: rgba(26, 55, 99, 1);
  padding: 4px;
  margin-right: 15px;
  width: 15px;
  height: 30px;
}

.icon-29 {
  background: rgba(52, 139, 203, 1);
  padding: 4px;
  margin-right: 15px;
  width: 15px;
  height: 30px;
}

footer h5 {
  font-size: 15px;
  font-weight: 700;
  color: rgba(55, 69, 80, 1);
}

.group-1 {
  margin-bottom: 15px;
}

.footer-btn {
  width: 80px;
  height: 35px;
  border-radius: 5px;
  background: rgba(38, 90, 167, 1);
  border: rgba(38, 90, 167, 1);
  color: rgba(244, 244, 244, 1);
  font-size: 12px;
}

.group-2 {
  width: 300px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.details h4 {
  font-size: 13px;
  font-weight: 500;
  color: rgba(55, 69, 80, 1);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  background: rgba(3, 46, 97, 1);
  padding: 40px;
}
.footer-bottom h6 {
  font-size: 10px;
  font-weight: 5;
  color: rgba(255, 255, 255, 1);
}

.footer-bottom h6 a {
  color: rgba(6, 172, 246, 1);
}
.footer-a {
  margin-top: -3px;
}

.footer-a a {
  margin-right: 10px;
  font-size: 10px;
  font-weight: 300;
  line-height: 16.8px;
  text-align: left;
  color: rgba(6, 172, 246, 1);
}

.secondlast-class img {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  margin-top: 10px;
}

.secondlast-class {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background: rgba(30, 74, 126, 1);
  margin-right: 10px;
}
.secondlast-class h6 {
  margin-top: 10px;
}

.flex-5 {
  display: flex;
  margin-right: 50px;
}

.last-class img {
  width: 20px;
  height: 20px;
  margin-top: 6px;
  margin-right: 4px;
}

.last-class {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background: rgba(30, 74, 126, 1);
}

.last-class h6 {
  font-size: 7px;
  font-weight: 500;
  line-height: 10.07px;
  margin-top: 5px;
}
